<a href="https://colab.research.google.com/github/sergiomath/dataScience/blob/main/Serie_EURUSD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [11]:
url="https://raw.githubusercontent.com/sergiomath/dataScience/main/seriesDeTiempo/Datos%20para%20series/EURUSD_Weekly_199501010000_202209040000.csv"
df=pd.read_csv(url,sep="\t")
df.head()

       <DATE>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <TICKVOL>  <VOL>  <SPREAD>
0  1995.01.01  1.2626  1.2636  1.2496   1.2517       6195      0        50
1  1995.01.08  1.2517  1.2817  1.2509   1.2756       8555      0        50
2  1995.01.15  1.2755  1.2977  1.2711   1.2926       8955      0        50
3  1995.01.22  1.2925  1.2996  1.2872   1.2904       6285      0        50
4  1995.01.29  1.2906  1.3028  1.2775   1.2804       8015      0        50

  <DATE>\t<OPEN>\t<HIGH>\t<LOW>\t<CLOSE>\t<TICKVOL>\t<VOL>\t<SPREAD>
0  1995.01.01\t1.26260\t1.26360\t1.24960\t1.25170...
1  1995.01.08\t1.25170\t1.28170\t1.25090\t1.27560...
2  1995.01.15\t1.27550\t1.29770\t1.27110\t1.29260...
3  1995.01.22\t1.29250\t1.29960\t1.28720\t1.29040...
4  1995.01.29\t1.29060\t1.30280\t1.27750\t1.28040...